.formm{
    background-color: gray;
    width: 500px;
    padding: 0 10px
}

.form-pub{
    width: 350px;
    padding: 10px 0;
}

.form-select{
    padding: 10px 15px;
    margin-left: 46px;
}

.formm h2{
    text-align: center;
}

.formm div{
    padding: 10px
}

.ok{
    display: flex;
    justify-content: center;
    gap: 20px
}

.ok-item{
    padding: 10px;
    background-color: aliceblue;
}
